html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content:center;
}

#home {
    background-color: rgb(137, 181, 220);
}

#bio {
    background-color: rgb(56, 125, 198);
}

#portfolio {
    background-color: rgb(69, 69, 231);
}

#contact {
    background-color: rgb(3, 3, 133);
}